<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is home page</title>
</head>
<body>
<section>
<div class="conatiner mt-4">
<div class="row">
<div class="col-md-6 offset-md-3">

<div class="my-card mt-1">

 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
    <p th:text="${session.message.content}"></p>
    
     <!--<th:block th:text="${#session.removeAttribute('message')}"></th:block> -->
    </div>

 <h1 class="text-center"><u>!!Register Here!!</u></h1>

<form novalidate action="" th:action="@{/register}"  method="post" th:object="${user}">

 <div class="form-group">
    <label for="exampleInputEmail1">Your Name</label>
    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name') ?'is-invalid':''}"
     id="name" name="name" aria-describedby="emailHelp" placeholder="Enter your name here" th:value="${user.name}"  required />
   
   <div class="invalid-feedback" th:each="e : ${#fields.errors('name')} " th:text="${e}">
         
        </div>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Your Email</label>
    <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your email here" required />
  
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Your Password</label>
    <input type="text" class="form-control" name="password" id="password" aria-describedby="emailHelp" placeholder="Enter your password here" required />
  
  </div>
  
  <div class="form-group">
  
    <textarea th:value="${user.about}" name="about" placeholder="Enter about yourself" rows="10" class="form-control"></textarea>
  </div>
  <div class="form-group form-check">

  <input type="checkbox"
  name="agreement"
  class="form-check-input"
  id="agreement"
   />

  <label for="agreement">Accept terms and conditions</label>


</div>
<div class="container text-center">
<button type="submit" class="btn bg-primary text-white">Submit</button>
<button type="reset" class="btn btn-warning">Reset</button>



</div>

</form>
</div>

</div>



</div>

</div>
</section>
</body>
</html>